/* General Styles */
body {
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}

/* Header Styles------------------------------------- menu---------------------------------------------- */
header {
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 1.3em;
    color: #000000;


}

/* ----------------------- */
@media (max-width: 700px) {
    .menu {
        z-index: 999;
        /* Ensure the menu is on top */
        background-color: rgba(0, 0, 0, 0.8);
    }

    body header .menu1 {
        position: relative;
        /* Make sure the button stays on top */
        z-index: 99999999;
    }




    .menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center;
        z-index: 1001;
        /* Ensure the menu items are above the background */
    }

    .menu li {
        margin: 20px 0;
    }

    .menu li a {

        color: white;
        text-decoration: none;
        z-index: 1001;
        /* Ensure the menu links are on top */
    }

    .mcqimg {
        height: 305px;
        width: 240px;
        overflow: hidden;



    }




    body .landing-page {
        margin-top: 15vh;
        margin-bottom: 10vh;
        height: 70vh;
        width: 100%;
        overflow: hidden;
    }

    .sec-viewport {
        overflow: hidden;
    }



}

#refresh-btn{
    float: right;
    cursor: pointer;
    color: #ffffff;
    font-size: 4rem;
    right: 0;
    position: absolute;
    display: none;
}
/* ----------------------- */
.logo {
    width: 50px;
    height: 50px;
}

header .fa-burger {
    display: none;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: #000000;
}


.menu li {
    margin-left: 20px;

}

.menu a {
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    position: relative;
}

.menu ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(246, 246, 246);
    ;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.menu ul li a:hover::after {
    width: 100%;
}

@media (max-width:700px) {

    /* header .menu ul{
    display: none;
   } */
    .content-box {
        height: 10vh;
        width: 40vw;

    }

    main {
        margin: 0%;
    }

    /* 
main .content-box:hover{

    width: 300px;
} */
    .logo {
        width: 30%;
        height: auto;
    }

    .menu ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 15vh;
        position: absolute;
        z-index: 11;


    }

    .menu ul li {
        margin-left: -10vw;
        margin-bottom: 10vh;
        color: #fff;
        z-index: 99999999;
    }

    .overlay {
        z-index: 1;
        background-color: #f4f4f4;
        width: 100%;
        height: auto;
    }

    body header .menu1 {
        display: block;
    }

    footer p {
        font-size: 0.81rem;
    }

    .menu1 {
        border-radius: 50%;
        box-shadow: 0px 5px 20px #0000006c;
    }


    .menu {
        background-color: transparent;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: none;
        justify-content: center;
        align-items: center;
        /* z-index: ; */
        transition: background-color 0.5s ease;
    }


    .menu.active {
        display: flex;
        background-color: rgba(0, 0, 0, 0.918);
        animation: fadeIn 0.5s ease forwards;
        z-index: 1;
    }

    /* Button turns white when menu is active */
    .menu1.opened {
        fill: white;
        /* Change the SVG paths to white */
    }

    .menu1.opened svg path {
        stroke: white;
        /* If you need to change the stroke color as well */
    }


    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
 
    body .landing-page .title{

        color: #ffffff;
        position: absolute;
        margin: 12% 10%;
        font-size: 3.2rem;
        margin-top: -10vh;
    }
}


/* -------------------------------------------------- */

header .menu1 {
    display: none;
}

.menu1 {
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* display: flex; */
    padding: 0;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

/* --------------------------------------- */

.fa-envelope {
    font-size: 4.2rem;
    z-index: 999999999;
    position: -webkit-sticky;
    color: #49243E;

}

main img {
    height: 4rem;

}

main .engineer {
    background-color: #5b7aa1;
}

main .big-btn {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
main h2{
    font-size: 1rem;
}
#content-wrapper.no-scroll {
    overflow: hidden;
    height: 100vh;
}


/* ---------------------------------------------------------menu------------------------------------------------------ */

/* ----------------------------------landing-page----------------------- */
.full-viewport {
    width: 100%;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);

}

.landing-page {

    height: 90vh;
    width: 100%;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);

}

.mcqimg {
    position: absolute;
    transform: scale(2);
    opacity: 0.5;


}

.nepal {
    color: red;
}

.green {
    color: rgb(2, 255, 2);
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
    font-family: "Sacramento", cursive;
    text-align: center;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
}

.landing-page .title {

    color: #ffffff;
    position: absolute;
    margin: 12% 10%;
    font-size: 3.2rem;
}

.mobile {
    display: none;
}
.start{
    cursor: pointer;
    position: absolute;
    padding: 15px;
    border-radius: 12px;
    border-style: none;
    margin-top: -33vh;
    background: #14A800;
    color: #fff;
    font-weight: 800;
    font-size: 1.1rem;
    margin-left: 10vw;
    transition: transform 0.5s;
}
.start:hover{
    transform:scale(1.1);
}


/* ----------------------------------landing-page----------------------- */
/* Main Content Styles */


/* -------------------------------------services------------------------------ */

.sec-viewport {
    height: 100vh;
    width: 100%;
    background:#222e44;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services {
    padding: 20px;
    margin-bottom: -12vh;
    font-size: 2rem;
    color: #fff;
    text-align: center;
}



.parent {
    height: 70%;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.parent p {
    margin: 20px 10px;
    padding: 12px;
    border-radius: 12px;
    /* margin-left: 24%; */
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    /* width: 10vw;
    height: 20vh; */
    border-radius: 17px;
    background: #ffffff;
    box-shadow: 0px 15px 25px -4px rgba(150, 150, 150, 0.24);
    transition: transform 1s;

}

.parent p:hover {
    transform: scale(1.1);

}

.parent p i {

    font-size: 1.8rem;

}

.parent a {
    text-decoration: none;
    color: #000000;
}

@media (max-width:700px) {
    .parent {
        display: flex;
        flex-wrap: wrap;
    }

    .parent p {
        width: 22vw;
        height: 12vh;
        padding: 10px;
        border-radius: 12px;

        text-align: center;
        font-weight: 600;
        font-size: 1.2rem;

    }
}

/* ----------------------------------------services---------------------------------- */

/* --------------------------------content-part----------------------------------------- */

main {
    display: flex;
    justify-content: center;
    padding: 2px;
    flex-wrap: wrap;
    /* margin: 1vw 5vh 5vw; */
    /* margin-bottom: 10vh;
    margin-right: 10vw;
    margin-left: 10vw; */

}

.content-box {
    background-color: #ffffff;
    border-radius: 9px;
    background: linear-gradient(145deg, #ffffff, #ffffff);
    box-shadow: 0px 1px 20px #d1d1d1;

    padding: 12px;
    height: 20vh;
    width: 20vw;
    text-align: center;
    flex-wrap: wrap;
    margin: 1.1vh;
    color: #000000;
    margin-bottom: 10vh;
    font-size: 0.81rem;
    font-weight: 600;
    transition: transform 0.5s ease-in;

}

main .content-box:hover {
    transform: scale(1.1);
}

.spin {

    transform: scale(0.3);
    margin-bottom: -2vh;
}

/* main .content-box:hover{
    background: #2a2438;
} */

/* --------------------------------content-part----------------------------------------- */


/* ------------------------------toggled-functions-------------------------------------------- */

/* Hide the checkbox */
.toggle-checkbox {
    display: none;
}

/* Style the label as a button */
.toggle-label {
   
    height: 7vh;
    display: inline-block;
    background-color: #000500;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 1.5rem;
    padding: 20px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 80%;
}

/* Initially hide the content */
.toggle-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s cubic-bezier(1, -0.01, 0.58, 1), padding 0.8s cubic-bezier(0.47, -0.09, 0.38, 0.66);
    background-color: #f1f1f1;
    padding: 0 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Show content when checkbox is checked */
.toggle-checkbox:checked+.toggle-label+.toggle-content {
    max-height: 400vh;
    /* Adjust the height based on your content */
    padding-top: 20px;
    padding-bottom: 20px;
}

.highlights {
    color: rgb(7, 173, 7);
}

/* ------------------------------toggled-functions-------------------------------------------- */

.third-viewport {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.extra {
    
    height: 25vh;
    width: 100%;
    background: #000;
    color: #fff;
}
 p{
    padding: 2px;
    bottom: 0;
    text-align: center;
}
.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
    font-size: 2rem;
    padding: 10px;
}
.social-icons a{
    text-shadow: 0px 5px 30px;
    color: #ffffff;
    margin-left: 2vw;
    text-decoration: none;
    transition: transform 0.5s;
}
.social-icons a:hover{
    transform: scale(1.1);
}