body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 15px;
}

.question p {
    margin: 0;
    font-weight: bold;
}

.options {
    list-style-type: none;
    padding: 0;
}

.options li {
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="radio"]:checked + label {
    font-weight: bold;
}

input[type="radio"].correct:checked + label {
    color: green;
}

input[type="radio"].incorrect:checked + label {
    color: red;
}

input[type="radio"]{
    height: 1.2rem;
    width: 1.2rem;
    cursor: pointer;
}
button {
    border-radius: 15px;
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
}

.footer{
    text-align: center;
}
h1 span{
    color: #02bd02;
}
.fa-house{
    padding: 25px;
    font-size: 2rem;
    border-radius: 50%;
    background-color: rgb(38, 146, 16);
    cursor: pointer;
    margin: 5px 20px;
    color: #fff;
      }
.more{
    text-decoration: none;
    color: black;
    display: none;
}

body {
    user-select: none; /* Disable text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For IE/Edge */
  }
  #footer{
    color: #000;
    align-items: center;
    text-align: center;
  }